

 body {
    background-color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    font-size: 18px;
    color: #777;
    display: block;
 }
 
 header {
    background: #ebebeb;
    padding: 30px;
    text-align: center;
    margin: 10px 0px;
}
   
 .nav {
    background: #ebebeb;
    padding: 30px;
    text-align: center;
    margin-bottom: 20px;
 }

 .section {
    background: #ebebeb;
    padding: 30px;
    text-align: center;
    float: left;
    margin-bottom: 20px;
    width: 495px;
    height: 210px;
 }

 
 aside {
    background: #ebebeb;
    text-align: center;
    float: right;
    margin-bottom: 20px;
    padding: 30px;
    height: 210px;
    width: 320px;
   }
   
   .article {
      background: #777;
      margin: 5px;
      text-align: center;
      color: #ebebeb;
      padding: 20px;
   }
   
   #h1 {
      background: #ebebeb;
      color: #777;
      text-align: center; 
      border: 5px solid;
   }
   
   #p {
      background: #ebebeb;
      text-align: center;
      color: #777;
      border: 5px solid;
   }
   
   .clearfix::after {
     display: block;
     clear: both;
   }
   
   .footer {
    background: #ebebeb;
    padding: 30px;
    text-align: center;
    clear: both;
    overflow: auto;
 }



 